absl-py==0.9.0
astor==0.8.1
astroid==2.3.3
backcall==0.1.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bz2file==0.98
cycler==0.10.0
decorator==4.4.2
dm-sonnet==1.35
gast==0.2.2
gevent==1.4.0
google==2.0.3
google-pasta==0.2.0
graph-nets==1.0.5
greenlet==0.4.15
grpcio==1.27.2
gunicorn==20.0.4
h5py==2.10.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.16.0
jupyter-client==6.0.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
magenta==0.3.19
Markdown==3.2.1
matplotlib==3.2.1
mccabe==0.6.1
mesh-tensorflow==0.1.12
mido==1.2.6
mir-eval==0.5
mpi4py==3.0.3
numpy==1.18.2
opt-einsum==3.2.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pretty-midi==0.2.8
prompt-toolkit==3.0.4
protobuf==3.11.3
ptyprocess==0.6.0
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
pypng==0.0.20
python-dateutil==2.8.1
python-rtmidi==1.4.0
PyYAML==5.3.1
pyzmq==19.0.0
scipy==1.4.1
semantic-version==2.8.4
six==1.14.0
soupsieve==2.0
stable-baselines==2.2.1
tensor2tensor==1.14.1
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-gpu==1.15.0
tensorflow-probability==0.7.0
termcolor==1.1.0
tflearn==0.3.2
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.1.8
Werkzeug==1.0.0
wrapt==1.11.2
zmq==0.0.0
